config MTK_MXC622X
	bool "MXC622X for MediaTek package"
	default n
	help
	  It support different accelerometer sensor.
          If this option is set,
	  it will support
          MXC6225XU Accelerometer.
